---
import BaseLayout from '../layouts/BaseLayout.astro';
import Tour from '../components/Tour.astro';
import ReactCounter from '../components/ReactCounter.jsx';
import SvelteCounter from '../components/SvelteCounter.svelte';

let title = 'My Astro Site';
---
<BaseLayout title={title}>
	
			<p>Some text on the page</p>

			<Tour />

			<ReactCounter client:visible />

			<SvelteCounter client:visible />

</BaseLayout>
